.MainContainer {
    background-color: rgb(68, 158, 218);
    width: 100%;
    height: fit-content;
    padding: 40px 20px;
    margin-top: 20px; /* Espacio debajo del Header */
    margin-bottom: 20px; /* Espacio encima del Footer */
}

.products {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
}

.ProductCard {
    display: flex;
    flex-direction: column;
    min-width: 500px;
    max-width: 300px;
    box-sizing: border-box;
    background-color: white;
    border-radius: 8px;
    padding: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}